<%= stylesheet_link_tag "wr.css" %>
<script src="/javascripts/wr.js" type="text/javascript"></script>  
<script type="text/javascript">
  crcWr.data.timeFormats = {
    <%= js_time_hash @ref_date %>
  };
</script>

<% form_tag('/calculator/pdf_report', :id => "report-form") do -%>

<div>
    
  <h2>Carbon Reduction Commitment Report</h2>
    
  <table>
    <tbody>
      <tr>
        <td>Organisation</td>
        <td class="align-right">
          <%# Note: The text value here must match the corresponding value in JavaScript %>
          <%= text_field_tag "org_name", "Your Org Name", :class => "textfield-placeholder" %>
        </td>
      </tr>
      <tr>
        <td>Date generated</td>
        <td class="align-right">
          <%= select_tag "gen_date", formatted_times(Time.now).map { |t| "<option>#{t}</option>" } %>
        </td>
      </tr>
      <tr>
        <td>Standard reference date</td>
        <td class="align-right">
          <%= link_to @ref_date.strftime("%Y-%m-%d"), "http://explorer.amee.com/categories/Carbon_Reduction_Commitment", :id => "ref_date_vis" %>
          <%= hidden_field_tag "ref_date", @ref_date.strftime("%Y-%m-%d") %>
        </td>
      </tr>
      <tr>
        <td>Virtual league table ranking</td>
        <td class="number"><%= @rank %></td>
      </tr>
    </tbody>
  </table>
  
  <div class="divider"></div>
  
  <h3>Totals</h3>
    
  <table>
    <tbody>
      <tr><td>Total tCO2</td><td class="number"><%= fmt_no @entry.co2 %></td></tr>
      <tr><td>Total liability (£)</td><td class="number"><%= fmt_no @entry.cost %></td></tr>
    </tbody>
  </table>
    
  <div class="divider"></div>
  
  <h3>Breakdown</h3>
  
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Unit</th>
        <th>kgCO<sub>2</sub> / yr</th>
        <th>£ / yr</th>
      </tr>
    </thead>
    
    <tbody>
      
      <% @fuel_entries.each do |entry| %>
        <tr>
          <td><%= entry.hr_name %></td>
          <td class="number"><%= fmt_no entry.value %></td>
          <td><%= entry.unit %></td>
          <td class="number"><%= fmt_no entry.co2 %></td>
          <td class="number"><%= fmt_no entry.cost %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  
  <div class="divider"></div>

  <div id="footer">
    <div id="powered-by-amee-report"></div>
    <div id="report">
      <%= submit_tag "Generate PDF of this report" %>
      <p><%= link_to "&laquo; Back", "/" %>
    </div>    
  </div>

</div>

<% end -%>
